* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.3%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: rgba(214, 214, 211, 0.466);
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    color: #000D33;
}


main {
    padding: 2rem;
}

.all {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem 0 2rem;
}

.nav.sticky {
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.966);
    z-index: 1000;
}

.logo {
    height: 11rem;
}

.menu-links {
    margin-top: 2rem;
}

.feature {
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: #000D33;
    border: none;
    cursor: pointer;
}

.open-feature {
    padding: 1rem 3rem;
    background-image: linear-gradient(to top left, #394bb3, #3c32c7);
    border-radius: 5rem;
    color: white;
    border: none;
}


.section-1 {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 2fr 1fr;
    align-items: center; */
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.233);
    ;
}

.section-image {
    height: 40vw;
    width: auto;
}

.section-heading {
    font-size: 5rem;
    font-weight: 1200;
    margin-bottom: 5rem;
}

.sub-head {
    font-size: 2.3rem;
    margin-bottom: 3rem;
    font-weight: 600;
    white-space: wrap;
}

.learn-more {
    font-size: 2rem;
    color: blue;
    border: none;
    cursor: pointer;
}

.section-2 {
    max-width: 100vw;
    padding: 10rem 5rem 5rem 5rem;
}

.section-title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    color: #4400ff;
    font-weight: 1000;
}

.section-heading-1 {
    font-size: 4rem;
    margin-left: 10rem;
}

.sub-section {
    margin-top: 4rem;
    max-width: 110rem;
}

.sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    justify-content: center;
}

.section-border {
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.233);
}

.sub-1 {
    margin-bottom: 10rem;
}

.sub-image {
    position: relative;
    height: 29rem;
    width: 43rem;
}

.sub-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sub-text {
    font-size: 1.5rem;
    line-height: 2;
    color: #29355a;
}

.icon {
    margin-top: 1.5rem;
    font-size: 4rem;
    background-color: #2d395f3a;
    color: #000D33;
    padding: 1rem;
    border-radius: 5rem;
}

.section-3 {
    max-width: 100vw;
    margin-top: 10rem;
}

.btns {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.btn-1 {
    padding: 1.7rem 5rem;
    border: none;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.btn--btn-1 {
    background-color: #ffcb03;
}

.btn--btn-2 {
    background-color: #4bbb7d;
}

.btn--btn-3 {
    background-color: #fd424b;
}

.container {
    height: auto;
    background-color: white;
    position: relative;
    transform: translateY(-10%);
    z-index: -1;
    margin-bottom: 12rem;

}

.container-heading {
    padding: 7rem 2rem 2rem 6rem;
    display: flex;
    align-content: center;
}

.container-subheading {
    font-size: 3rem;
    margin-top: 2.3rem;
    margin-left: 2rem;
}

.container-content {
    font-size: 1.5rem;
    line-height: 1.9;
    color: #29355a;
    padding: 0 2rem 5rem 13.9rem;
}

.operations__content {
    display: none;
}

.operations__content--active {
    display: inline-block;
}

.operations__tab--active {
    transform: translateY(-20%);
    transition: all 0.3s;
}

.icon-1 {
    background-color: #ffcd034f;
    color: #ffcb03;
}

.icon-2 {
    background-color: #4bbb7d3f;
    color: #4bbb7d;
}

.icon-3 {
    background-color: #fd424b41;
    color: #fd424b;
}

.traveling::after {
    display: block;
    content: "";
    position: absolute;
    height: 7rem;
    width: 26rem;
    z-index: -1;
    transform: translateY(-93%) translateX(58%) skewX(-15deg);
    background-image: linear-gradient(to top left, #2c3ea7c9, #5323ffa6);
}

.easy::after {
    display: block;
    content: "";
    position: absolute;
    height: 7rem;
    width: 19rem;
    z-index: -1;
    transform: translateY(-100%) translateX(-5%) skewX(-15deg);
    background-image: linear-gradient(to top left, #2c3ea7c9, #5323ffa6);
}

.section-4 {
    max-width: 100vw;
    padding: 10rem 0 3rem 3rem;
    overflow: hidden;
}

.testimonial {
    max-width: 70%;
    margin: 7rem auto auto auto;
    position: relative;
}

.testimonial-content {
    width: 60vw;
    margin-left: 0;
}


.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

}

.slide--2 {
    position: absolute;
    top: 0;
    left: 0;
}

.slide--3 {
    position: absolute;
    top: 0;
    left: 0;
}


.testimonial-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.testimonial-text {
    font-size: 1.7rem;
    line-height: 2;
    color: #29355a;
}


.navi-button {
    border: none;
    background: none;
    cursor: pointer;
    background-color: white;
    font-size: 3rem;
    border-radius: 10rem;
    width: 5rem;
    height: 5rem;
    text-align: center;

    position: absolute;
    top: 20%;
    z-index: 10;
}

.slider__btn--left {
    left: -10%;
    transform: translateX(-50%);
}

.slider__btn--right {
    left: 100%;
    transform: translateX(20%);
}


.dots {
    position: relative;
    margin-top: 5rem;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.dots__dot {
    border: none;
    background-color: #838383;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 10rem;
}

.dots__dot--active {
    background-color: rgb(71, 0, 236);
    opacity: 1;
}

.testi-img {
    height: 7rem;
    width: 7rem;
    border-radius: 20rem;

}

.testi-details {
    max-width: 40rem;
    display: flex;
    ;
    margin-top: 3rem;
    align-items: center;
}

.testi-name {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 2rem;
}

.testi-place {
    font-size: 2rem;
    color: #29355a;
    margin-left: 2rem;
}

.footer {
    height: bottom;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    font-family: "Poppins", sans-serif;
}

.footer-heading {
    text-align: center;
    width: 100vw;
    font-size: 4rem;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 8rem 20rem 8rem 20rem;
}

.btn-open-account {
    border: none;
    padding: 2rem 5rem;
    background-image: linear-gradient(to top left, #394bb3, #3c32c7);
    color: white;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 7rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8rem;
    cursor: pointer;
    white-space: nowrap;
}

.footer-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;


}

.footer-link--1 {
    padding: 0 1rem 5rem 1rem;
    font-size: 1.5rem;
    color: rgb(231, 230, 230);
    cursor: pointer;
}

.footer-logo {
    height: 13rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7rem;
}

.copy-right {
    max-width: 100vw;
    text-align: center;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.651);
    padding: 0 8rem 0 8rem;
}


/* MODAL WINDOW */


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}


.modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
}

.modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
}

.modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
}

.modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
}

.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


.section {
    transition: transform 1s, opacity 1s;

}

.section-hidden {
    opacity: 0;
    transform: translateY(8rem)
}

.lazy-img {
    filter: blur(10px);
}



/* Menu Modal Section */


.menu-btn {
    display: inline-block;
    position: absolute;
    top: 6rem;
    right: 5rem;
}

.menu-btn-icon {
    border: none;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5rem;
    color: white;
    background-image: linear-gradient(to top left, #3c32c7c6, #3c32c7);
    transition: all 0.5s ease;
}

.menu-section-close {
    position: absolute;
    top: 6rem;
    left: 65%;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5rem;
    color: white;
    background-image: linear-gradient(to top left, #3c32c7c6, #3c32c7);
    transition: all 0.5s ease;
}


.menu-btn-icon:hover {
    background-image: linear-gradient(to top left, #3c32c788, #3c32c7b8);
}

.menu-section-box {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 40vw;
    position: fixed;
    /*left: 60vw;*/
    background-color: rgba(79, 79, 79, 0.371);
    backdrop-filter: blur(15px);
}

.menu-box-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 25rem auto 15rem auto;
    align-items: center;
    justify-items: center;

}

.menu-box-items a {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3rem;
    text-decoration: none;
    font-family: inherit;
    color: white;
    transition: all 0.5s ease-in-out;
}

.menu-box-link:hover {
    color: #3c32c7;
}

.open-feature-1 {
    margin-top: 1.5rem;
    /* padding:0.5rem 0.5rem; */
    background-image: linear-gradient(to top left, #394bb3, #3c32c7);
    border-radius: 10rem;
    color: white;
    border: none;
}









/* Media query */
@media (max-width:95em) {
    .menu-btn {
        visibility: hidden;
    }
}

@media (max-width:68em) {
    html {
        font-size: 60%;
    }
}

@media (max-width:68em) {
    html {
        font-size: 60%;
    }
}

@media (max-width:63em) {
    html {
        font-size: 54%;
    }
}

@media (max-width:63em) {
    html {
        font-size: 50%;
    }
}

@media (max-width:53em) {
    html {
        font-size: 42%;
    }
}

@media (max-width:48em) {
    .traveling::after {
        margin-left: -16rem;
    }
}


@media (max-width:45em) {
    .traveling::after {
        margin-left: 0;
    }

    .section-1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 4rem;
    }

    .section-image {
        height: 50rem;
        width: auto;
    }

    .sub {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid-img:nth-child(4) {
        grid-row: 3;
    }
}


@media (max-width:45em) {
    .menu-links {
        visibility: hidden;
    }

    .menu-btn {
        visibility: visible;
    }

    .nav.sticky {
        visibility: hidden;
    }

    .section-title {
        margin-left: 0rem;
    }

    .section-heading-1 {
        margin-left: 0rem;
    }

    .sub-head {
        width: 100vw;
    }
}

@media (max-width:550px) {
    .footer-heading {
        padding: 8rem 10rem 8rem 10rem;
    }

}