*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    font-size:65.3%;
}

body{
	padding:4rem 8rem;
	background-image: linear-gradient(to right bottom, #ff4213a1, #ff0022c1);
	font-family: 'Rubik', sans-serif;
	background-size: cover;
    background-repeat: no-repeat;
}

.header{
	width:100%;
	/* height:139.7rem; */
	/* height:150rem; */
	/* height:100vw; */
	background-color: white;
	border-radius:15px;
	border-style: none;
	/* max-width: 120rem; */
    min-height: 117rem;
	
}

.logo{
    height:7rem;
	width:auto;
}

.list{
	display:flex;
	justify-content: space-between;
	padding:2.5rem 1rem;
	height:11rem;
	background-color: rgba(81, 80, 82, 0.118);
	align-items: center;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}


.input-recipe{
	padding:1rem 1rem;
	background-color: white;
	height:5rem;
	width:32rem;
	position: absolute;
	left:20%;
	transform:translateX(30%);
	border-style: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
	text-align: left;
	font-size: 1.5rem;
	font-style: italic;
	color: rgb(65, 63, 63);
	transition:all 0.3s;
}

.input-recipe:focus{
	outline: none;
	font-family: inherit;
	font-size: 1.5rem;
}

.search{
	height: 5rem;
	border-radius: 5rem;
	font-size: 1.5rem;
	width:18rem;
	color:white;
	position: absolute;
	left:40%;
	transform:translateX(65%);
	border-style: none;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-image: linear-gradient(to right bottom, #ff4213a1, #ff0022c1);
	cursor: pointer;
	transition: all 0.3s;
}

.search:hover{
	height: 5.5rem;
	width:16.5rem;
	/* font-size: 1.7rem; */
}

.search_field{
	display:flex;
	align-items: center;
}

.add-recipe, .bookmark{
	position:relative;
	height:11rem;
	width:15rem;
	border-style: none;
	font-size:1.5rem;
	background-color: rgba(81, 80, 82, 0);
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s;
	color:rgb(90, 90, 90);
} 


.add-recipe:hover, .bookmark:hover{
	background-color: rgba(81, 80, 82, 0.05);
}

.end-nav{
	display:flex;
	align-items: center;
}

.icon{
	width:2rem;
	height:2rem;
	width:3rem;
	color:rgba(228, 18, 18, 0.734);
	margin-right:0.5rem;
}

.search-icon{
	width:1.7rem;
	height:1.7rem;
	width:3rem;
	color:rgb(255, 255, 255);
	margin-right:0.5rem;
}

.content-section{
	display:grid;
	grid-template-columns: 1.5fr 3fr;
	/* height:139rem; */
	/* height:91.5vw; */
	min-height: 117rem;
}

.recipes{
	background-color: rgba(204, 203, 203, 0.227);
	border-bottom-left-radius: 15px;
	display: flex;
    flex-direction: column;	
	padding-top:4rem;
	
}

.recipeee{
	height:100%;
	background-color: rgba(0, 0, 0, 0.076);
	border-bottom-right-radius: 15px;
}

.recipe-details{
	border-bottom-right-radius: 15px;
	transition:all 0.5s;
}

.page{
	display:flex;
	justify-content: space-around;
	/* column-gap: 10rem; */
	font-size: 1.8rem;
	margin-top:auto;
	padding-top:5rem;
	font-style: inherit;
	font-weight: 600;
}

.page-navi{
	padding:1rem;
	background-color: rgba(0, 0, 0, 0.076);
	border-radius: 5rem;
	border:none;
	color:rgba(255, 0, 0, 0.713);
	cursor: pointer;
	font-size: inherit;
}

.page-navi:hover{
	background-color: rgba(0, 0, 0, 0.123);
}

.copy{
	padding:3rem;
	text-align:center;
	margin-top:2rem;
	font-size: 1.2rem;
	color:rgba(90, 90, 90, 0.782);
}

.recipe-result{
	display: flex;
	column-gap: 2rem;
	align-items: center;
	justify-items:center;
	/* margin-bottom:2rem; */
	margin-top: 2rem;
	padding:1rem 1rem 1rem 2rem;
	cursor: pointer;
	transition: all 0.3s;
}

.recipe-result:hover{
	background-color: rgba(81, 80, 82, 0.118);
	transform: translateY(-5%);
}

ul{
	list-style-type:none;
}

/* li{
	display:flex;
	justify-self:flex-start;
} */

.recipe-image{
	height:7rem;
	width:7rem;
	clip-path:circle();
}

.item-name{
	font-size: 2rem;
	padding:0 0 0.5rem 0;
	text-transform: uppercase;
	font-weight: 600;
	color:rgba(255, 0, 0, 0.713);
}

.shop-name{
	font-size:1.8rem;
	text-transform: uppercase;
	color:rgba(90, 90, 90, 0.782);
}

.self-icon{
	display:flex;
	/* flex-direction: column; */
	align-self:end;
	color:rgba(255, 0, 0, 0.693);
	margin-left:auto;
}

.recipe-detail-image{
	width:100%;
	height:40rem;
	overflow: hidden;
	opacity: 0.83;
}

.recipe-title{
	width: 60%;
	font-size:4rem;
	position:relative;
	text-align: center;
	top:-20%;
	left:23%;
	font-weight: 700;
	transform:translateY(-70%) rotate(-6deg);
	color:white;
	line-height: 1.5;
    text-align: center;
}

.recipe-title span{
	-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
	text-align: center;
	padding: 1rem 1rem;
	background-image: linear-gradient(to right bottom, #ff4213, #ff0022);
	height:5rem;
	z-index: -1;
}

/* .recipe-title::after{
	display:block;
	content:"";
	position:absolute;
	background-image: linear-gradient(to right bottom, #ff4213cb, #ff0022cb);
	height:5rem;
	width:40rem;
	top:-5%;
	left:93%;
	z-index: -1;
	transform: translate(-92%, 0%) skewX(-10deg);
} */



.recipe-cook{
	/* position:relative; */
	display:flex;
	justify-content: space-around;
	align-items: center;
	/* margin-top:10%; */
}


.cook-icon{
	width:2.3rem;
	height:2.3rem;
	color:rgba(228, 18, 18, 0.734);
	margin:0 1rem 0 1rem;
}

.cook {
	font-size: 2rem;
	text-transform: uppercase;
	color:rgba(90, 90, 90, 0.782);
}

.cook-info{
	display:flex;
	align-items: center;
	flex-direction: row;
}

.add-serving, .reduce-serving{
	cursor: pointer;
}

button{
	border:none;
}

.bookmark-icon{
	width:3.5rem;
	height:3.5rem;
	margin:0 1rem 0 1rem;
	color:rgba(209, 26, 26, 0.631);
	cursor: pointer;
	transition: all 0.3s;
}

.bookmark-icon:hover {
	transform: translateY(-5%);
}

.bookmarked-success{
	color:rgb(228, 18, 18);;
}

.cooking-instruction {
	margin-top:3rem;
	display:flex;
	flex-direction: column;
}

.ingredients-color{
	margin-top:4rem;
	background-color: rgba(0, 0, 0, 0.063);
	padding: 4rem 0 2rem 0;
}

.cooking-title{
	
	font-size:2rem;
	text-align: center;
	color:rgba(228, 18, 18, 0.734);
}

.ingredient-section{
	/* display:grid;
	max-height: 30rem;
	max-width:100%;
	grid-template-columns: 1fr 1fr; */
	padding:4rem 4rem;
}

.ingredient-details{
	display:grid;
	grid-template-columns: 1fr 1fr;
	width:100%;
	row-gap:2.5rem;
	column-gap:3rem;
	line-height: 1.5;
}

.ingredient{
	display:flex;
	align-items: center;
	color:rgb(90, 90, 90);
}

.points{
	font-size:1.5rem;
	display:flex;
	align-items: center;
}

.point-icon{
	width:3.3rem;
	height:2.5rem;
	margin-right:2rem;
	color:rgba(228, 18, 18, 0.734);
	flex: 0 0 auto;
}

.how-to{
	margin-top:5rem;
}

.how-to-cook{
	font-size:2rem;
	/* margin-bottom:1rem; */
	text-align: center;
	color:rgba(228, 18, 18, 0.734);
	text-transform: uppercase;
}

.how-to-instruction{
	padding-left:10rem;
	padding-right:10rem;
	margin-top:2rem;
	font-size:1.5rem;
	color:rgba(90, 90, 90, 0.782);
	text-align: center;
}

.direction{
	margin-top:5rem;
	margin-bottom: 5rem;
	display:flex;
	justify-content: center;
}

.direction-btn{
	padding:1rem 2rem;
	/* margin-bottom:15rem; */
	border:none;
	cursor: pointer;
	background-image: linear-gradient(to right bottom, #ff4213a1, #ff0022c1);
	border-radius: 5rem;
	color:white;
	font-size: 1.6rem;
	text-transform: uppercase;
	transition: all 0.3s;
	text-decoration: none;
}

.direction-btn:hover{
	font-size: 1.62rem;
	transform: translateY(-5%);
}







.add-recipe-window{
	position:fixed;
	top:5%;
	bottom:5%;
	left:13%;
	right: 13%;
	background:white;
	border-radius: 15px;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
}

.upload{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.upload__column{
	padding:7rem 3rem;
	display:flex;
	flex-direction: column;
}

.upload__heading{
	font-size: 3rem;
	padding:0 0 3rem 0;
	text-transform: uppercase;
	color:rgb(53, 53, 53);
}

input{
	position:relative;
	border:none;
	border-radius:4px;
	height:3rem;
	width:100%;
	font-family: inherit;
	text-align:center;
	border:0.5px solid grey;
}

input:focus{
	outline:none;
	background-color: whitesmoke;
	border:1px solid rgba(228, 18, 18, 0.734);;	
}

label{
	font-size:1.5rem;
	color:rgba(90, 90, 90, 0.816);
}
.abc{
	position:relative;
	display:grid;
	grid-template-columns: 3fr 5fr;
	column-gap: 2rem;
	row-gap: 2rem;
	align-items: center;
}

.btn{
	width:20rem;
	padding:1.5rem 2rem;
	border:none;
	border-radius: 5rem;
	background-image: linear-gradient(to right bottom, #ff4213a1, #ff0022c1);
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	font-size:1.6rem;
	font-weight: 700;
	color:white;
	display:flex;
	cursor: pointer;
	transition: all 0.3s;

	position:absolute;
	top:85%;
	left:50%;
	transform:translateX(-50%);
}

.btn:hover{
	font-size:1.7rem;
}

.upload-icon{
	display:flex;
	margin-right: 1rem;
	align-content: center;
	height:2.5rem;
}

.btn--close-modal{
	position: absolute;
	border:none;
	background-color:rgba(255, 255, 255, 0);
	padding:1rem;
	font-size: 4rem;
	left:94%;
	color:rgb(53, 53, 53);
	cursor: pointer;
}

.hidden{
	visibility: hidden;
	opacity:0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }


  .message{
	  display: flex;
	  align-items: center;
	  padding:10rem;
	  position:absolute;
	  top:20%;
	  left:34%;
  }

  .message-icon{
	  height:4rem;
	  color:rgba(228, 18, 18, 0.734);
	  margin-right: 1.8rem;
  }

  .search-message{
	  font-size:2rem;
	  color:rgb(90, 90, 90);
  }

  .error{
	display: flex;
	align-content: center;
	padding:2rem;
	max-width:29.5%;
	padding:3rem;
	position:absolute;
	top:30%;
	left:7%;
  }

.error-icon{
	height:4rem;
	width:4rem;
	color:rgba(228, 18, 18, 0.734);
	margin-right: 1.8rem;
}
  
.error-message{
	display:flex;
	align-items: center;
	font-size: 2rem;
	color:rgb(90, 90, 90);
  }


.spinner{
	margin:5rem auto;
	text-align: center;
  }
.spin{
	color:rgba(228, 18, 18, 0.734);
}
  .spinner svg{
	  height:6rem;
	  width:6rem;
	 ;
	  fill:rgba(228, 18, 18, 0.734);
	  animation:rotate 2s infinite linear;
  }

  @keyframes rotate {
	  0%{
		  transform: rotate(0);
	  }
	  100%{
		  transform: rotate(360deg);
	  }
  }


  a{
	  text-decoration: none;
  }

  
  /* .bookmark-tab{
	padding: 1rem 0;
	position: absolute;
	right: 8.1rem;
	z-index: 10;
	width: 40rem;
	background-color: #fff;
	box-shadow: 0 0.8rem 5rem 2rem rgba(0, 0, 0, 0.063);
	visibility: hidden;
	opacity: 0.0;
	transition: all 0.5s 0.2s;
	display:flex;
    align-items: center;
  }


#bookbtn:hover + .bookmark-tab {
	visibility:visible;
	opacity: 1.0;
	display:block;
}


  .bookmark-tab:hover {
	background-color: rgba(128, 128, 128, 0.844);	  
  }


  .bookmark-message-icon{
	  height:3rem;
	  width:3rem;
  }

  li{
	  list-style:none;
  }

  .bookmark-list{
	cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
  } */









  /*  media query */

  @media (max-width: 76em){
	body{
		padding:0;
	}
	.header{
	border-radius: 0;
	}
	.list{
		border-radius: 0;
	}
}


@media (max-width: 64em){
	html{
		font-size:60%;
	}
	.add-recipe-window{
		position:fixed;
		top:10%;
		bottom:10%;
		left:15%;
		right: 15%;
	}
}

@media (max-width: 60em){
	html{
		font-size:50%;
	}
}

@media (max-width: 55em){
	.add-recipe-window{
		position:fixed;
		top:15%;
		bottom:15%;
		left:15%;
		right: 15%;
	}
}


@media (max-width: 50em){
	html{
		font-size:40%;
	}
}

@media (max-width: 40em){
	html{
		font-size:30%;
	}

	.add-recipe-window{
		position:fixed;
		top:25%;
		bottom:25%;
		left:15%;
		right: 15%;
	}
}
