* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%;
	overflow-x: hidden;
	/*scroll-behavior: smooth;*/
}

body {
	font-family: 'Rubik', sans-serif;
	line-height: 1;
	font-weight: 400;
	overflow-x: hidden;
}

.background {
	background-image: url('../galaxy_pg.jpg');
	background-size: cover;
	height: 130%;
}

.section-hero {
	padding: 6.8rem;
}

.hero {
	max-width: 130rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6rem;
	align-items: center;
	justify-items: center;
}

.hero-section {
	font-size: 5.0rem;
	font-weight: 600;
	color: #B5FFD9;
	line-height: 1.05;
	letter-spacing: -0.5px;
	margin-bottom: 2.8rem;
}

.hero-description {
	font-size: 2rem;
	color: #d0f2ee;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-image img {
	margin-left: 1rem;
	height: 50rem;
	width: auto;
}

.btn,
.btn-1:link,
.btn-1:visited {
	display: inline-block;
	background-color: #AE00FB;
	color: white;
	font-size: 2rem;
	padding: 1.6rem 3.2rem;
	border-radius: 150px;
	text-decoration: none;
	transition: background 0.5s ease-in-out;

	/*for btn*/

	border: none;
	cursor: pointer;
	font-family: inherit;
}

.btn-5:link,
.btn-5:visited {
	display: inline-block;
	background-color: #AE00FB;
	color: white;
	font-size: 2rem;
	padding: 1.6rem 3.2rem;
	border-radius: 150px;
	text-decoration: none;
	margin-left: 2.4rem;
	transition: background 0.5s ease-in-out;
}

.btn-2:link,
.btn-2:visited {
	display: inline-block;
	background-color: #d4d3d2;
	color: black;
	font-size: 2rem;
	padding: 1.6rem 3.2rem;
	border-radius: 150px;
	text-decoration: none;
	margin-left: 2.4rem;
	margin-top: 1.8rem;
	transition: background 0.5s ease-in-out;
}

.btn-1:hover,
.btn-1:active {
	background-color: #e196ff;
}

.btn-2:hover,
.btn-2:active {
	background-color: darkslategrey;
	box-shadow: inset 0 0 0 3px black;
}

.margin-right-sm {
	margin-right: 3.6rem;
}

.astronauts {
	display: flex;
	margin-top: 8rem;
	align-items: center;
	gap: 1.6rem;
}

.astronauts-img {
	display: flex;
	align-items: center;

}

.astronauts-img img {
	height: 5rem;
	width: 6rem;
	border-radius: 50%;
	margin-right: -1.6rem;
	border: 2px solid #e196ff;
}

.astro-text {
	font-size: 1.6rem;
	font-weight: 400;
	color: #d0f2ee;
	margin: 0.7rem;
	align-items: center;
	margin-left: 3.8rem;
}

.ast {
	color: #21e3ed;
	font-weight: 700;
}

.logo {
	height: 10rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;
	height: 15rem;
	padding: 0 5rem;
	gap: 3rem;
	position: relative;
}

.main-nav-list {
	list-style: none;
	align-items: center;
	display: flex;
	gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.5s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #e196ff;
}

.nav-cta:link,
.nav-cta:visited {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	background-color: #AE00FB;
	color: white;
	transition: all 0.5s ease-in-out;
}

.nav-cta:hover,
.nav-cta:active {
	background-color: #e196ff;
	color: black;
}

.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}

.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #333;
}

.icon-mobile-nav[name="close-outline"] {
	display: none;
}

.icon-mobile-nav[name="menu-outline"] {
	display: none;
}


/*Planets*/

.container {
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.section-how {
	padding: 9.6rem 0;
	/* background-image: url('galaxy_pg2.jpg');
	background-size: cover; */
	background-color: #f0baff;
}

.grid {
	display: grid;
	column-gap: 6.4rem;
	row-gap: 9.2rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.planet-img {
	width: 60%;
}

.heading-secondary {
	font-weight: 700;
	color: black;
	letter-spacing: -0.5px;
	font-size: 3.8rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}

.subheading {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	color: #AE00FB;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	letter-spacing: 0.75;
}

.planet-number {
	font-size: 9.8rem;
	font-weight: 600;
	color: #636263;
	margin-bottom: 1.2rem;
}

.heading-tertiary {
	font-size: 3.2rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
	color: black;
}

.planet-description {
	font-size: 1.8rem;
	line-height: 1.8;
	font-weight: 500;
	color: #210303;
}

.step-img-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Circles will be displayed behind the object */

/*.step-img-box::before{
	content: "";
	display: block;
	width: 60%;
	top: 50%;
	left: 50%;
	background-color: red;
	padding-bottom: 60%;
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.step-img-box::after{
	content: "";
	display: block;
	top: 50%;
	left: 50%;
	width: 50%;
	padding-bottom: 50%;
	background-color: orangered;
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
}*/


/* Featured Section */


.logo-fe {
	height: 10rem;
	filter: grayscale(100%);
	opacity: 0.7;

}

.section-featured {
	padding: 3.2rem 0;
	background-color: #f0baff;
}

.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2rem;
	color: #3f3e40;
}

.featured-logo {
	display: flex;
	align-content: center;
	justify-content: space-around;
}


/* Crafts Section */




.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.section-missions {
	padding: 9.6rem 0;
	background-color: #f0baff;
}

.space-craft {
	width: 100%;
	height: 37.5rem;
}

.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 1.2rem;
	background-color: #080063;
	color: white;
	text-transform: uppercase;
	border-radius: 100px;
}

.probe-tag {
	padding: 1.2rem 0 1.2rem 0;
}

.craft-title {
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 3.2rem;
}

.craft-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.craft-attribute {
	font-size: 1.8rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.craft-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: red;
}

.craft-icon-1 {
	height: 3.6rem;
	width: 3.6rem;
	color: red;
}

.space-probe {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75);
	border-radius: 12px;
	overflow: hidden;
	transition: all 0.5s;
}

.space-probe:hover,
.space-probe:active {
	transform: translateY(-1.2rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.probe-content {
	padding: 2.2rem 3.2rem 3.2rem 2.2rem;
	height: 38rem;
	background-color: white;
}

.more-link {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 9.6rem;
}

.more:link,
.more:visited {
	display: inline-block;
	color: #262280;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.more:hover,
.more:active {
	color: purple;
	border-bottom: 1px solid transparent;
}




/*Testimonial*/

.section-testimonials {
	background-color: #face98;
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;
}

.container-testimonial {
	padding: 9.6rem;
}

.testimonials {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4.8rem;
	column-gap: 8rem;
}

.test-image {
	width: 9.6rem;
	height: 9.6rem;
	border-radius: 60%;
	margin-bottom: 1.2rem;
}

.testimonial-text {
	font-size: 1.8rem;
	line-height: 3rem;
	margin-bottom: 1.6rem;
	color: #210303;
}

.test-name {
	font-size: 1.6rem;
	color: #4b4b4d;

}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}

.gallery-item img {
	display: block;
	width: 100%;
	transition: all 0.3s;
}

.gallery-item img:hover {
	transform: scale(1.1);
}

.gallery-item {
	overflow: hidden;
}



/* Over View */



.section-plan {
	padding: 9.6rem 0;
}

.moon {
	color: #6e6e6e;
}

.mars {
	color: #f79d0c;
}

.list--card {
	margin-bottom: 5.8rem;
}

.plan-header {
	text-align: center;
}

.plan-name {
	color: #AE00FB;
	font-weight: 600;
	font-size: 3rem;
	letter-spacing: 0.75;
	text-transform: uppercase;
	margin-bottom: 3.2rem;
}

.plan-cost {
	font-size: 6.2rem;
	font-weight: 600;
	margin-bottom: 1.6rem;
}

.plan-cost span {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
}

.plan-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: #575555;
}

.checkmore {
	text-align: center;
	margin-top: 4.8rem;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	margin-top: 4.8rem;
}

.list-item {
	font-size: 1.8rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 2.8rem;
}

.list-icon {
	height: 3.2rem;
	width: 3.2rem;
	color: #AE00FB;
}

.plan-list {
	padding: 4.8rem;
	border-radius: 11px;
	background-color: #f0baff;
}

.plan-list--tag {
	padding: 4.8rem;
	position: relative;
	overflow: hidden;
}

.plan-list--tag::after {
	content: "Best Mission";
	position: absolute;
	top: 4%;
	right: -16.3%;

	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	color: black;
	background-color: #f22e90;
	padding: 0.8rem 8rem;
	transform: rotate(45deg);

}


.about-plans {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 9.6rem;
	color: #4d4b4b;
	margin-top: -3.2rem;
}


/*Feature Section*/


.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.feature-section {
	margin: 0;
	padding: 0 9.6rem;
}

.feature-icon {
	color: #AE00FB;
	height: 3.2rem;
	width: 3.2rem;
	margin-bottom: 3.2rem;
	background-color: #f0baff;
	padding: 1.6rem;
	border-radius: 50%;
}

.feature-title {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1.6rem;

}

.feature-text {
	font-size: 1.6rem;
	line-height: 1.8;
}


/* Call to Action */

.section-cta {
	padding: 9.6rem 0 12.8rem 0;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: orange;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 11px;

	background-image: linear-gradient(to right bottom, #b078ff, #6d00cc);
	overflow: hidden;
	height: 45rem;
}


.cta-text-box {
	padding: 4.8rem 3.2rem 3.2rem 3.2rem;
	color: #330f4f;
}

.cta .heading-secondary {
	font-size: 3.8rem;
	color: #330f4f;
	margin-bottom: 3.2rem;
}

.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}

.cta-img-box {
	background-image: linear-gradient(to right bottom, rgba(176, 120, 255, 0.3), rgba(109, 0, 204, 0.3)), url("calltoact.jpg");
	background-size: cover;
	background-position: center;

}

.cta-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3.2rem;
	row-gap: 2.4rem;
}

.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
	width: 100%;
	padding: 1.2rem;
	font-size: 1.8rem;
	font-family: inherit;
	color: inherit;
	border: none;
	background-color: #e0e0e0;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.cta-form input::placeholder {
	color: #aaa;
}

.btn-form {
	background-color: #0e031a;
	color: #debfff;
	align-self: end;
	padding: 1.2rem;
	border-radius: 9px;
}

.btn-form:hover {
	background-color: #e0e0e0;
	color: #0e031a;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(174, 0, 251, 0.5);
}

.cta *:focus {
	outline: none;
	box-shadow: 0 0 0 0.8rem rgba(227, 191, 255, 0.5);
}


/*Footer*/

.grid--5-cols {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
	padding: 12.8rem 0;
	border-top: 1px solid #d9d9d9;
}

.logo-col {
	display: flex;
	flex-direction: column;
}

.footer-logo {
	display: block;
	margin-bottom: 3.2rem;
}

.social-icon {
	height: 2.4rem;
	width: 2.4rem;
}

.social-links {
	list-style: none;
	display: flex;
	gap: 2.4rem;
}

.copyright {
	font-size: 1.4rem;
	color: #515251;
	line-height: 1.6;
	margin-top: 1.8rem;
}

.contacts {
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.6;
}

.address {
	margin-bottom: 3.6rem;
}

.footer-heading {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 4rem;
}

.footer-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	font-size: 1.6rem;
	color: #515251;
	transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
	color: #1a1a1a;
}

.nav-col {
	margin-top: 5rem;
}

.address-col {
	margin-top: 5rem;
}



/* Media query */

/* 1130 width */

@media (max-width: 69em) {

	.hero-description {
		font-size: 1.8rem;
	}
}

@media (max-width: 63.5em) {

	.hero-section {
		font-size: 4rem;
	}
}

@media (max-width: 58em) {
	html {
		font-size: 45%;
	}

	.hero {
		grid-template-columns: 1fr;
		display: flex;
		flex-direction: column;
	}

	.hero-description,
	.hero-text-box {
		text-align: center;
	}

	.section-hero {
		padding: 3rem;
	}

	.astronauts-img {
		display: flex;
		align-items: center;
	}

	.hero-image {
		text-align: center;
	}

	.section-testimonials {
		grid-template-columns: 1fr;
	}

	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}

	.space-craft {
		height: 32.5rem;
	}







	@media (max-width:51.2em) {
		.cta {
			height: 50rem;
		}

		.hero-image {
			width: 100%;
		}
	}

	@media (max-width:46em) {

		.grid--3-cols,
		.grid--4-cols {
			grid-template-columns: repeat(2, 1fr);
		}

		.grid--3-cols {
			row-gap: 6.4rem;
		}

		.space-craft {
			width: 100%;
			height: 45rem;
		}

		.probe-content {
			height: 32rem;
		}

		.space-probe-3 {
			grid-column: 1 / -1;
			justify-self: center;
		}

		.heading-secondary {
			margin-bottom: 4.8rem;
		}

		.cta {
			height: 55rem;
		}

		.plan-cost {
			font-size: 5rem;
		}

		.plan-list--tag::after {
			top: 7%;
			right: -16.3%;
		}

		.footer-link:link,
		.footer-link:visited {
			font-size: 1.3rem;
		}
	}

	@media (max-width:43em) {
		.grid--5-cols {
			grid-template-columns: repeat(6, 1fr);
		}

		.nav-col {
			grid-row: 1;
			grid-column: span 2;
		}

		.logo-col,
		.address-col {
			grid-column: span 3;
		}


	}

	@media (max-width:40em) {
		.plan-cost {
			font-size: 4rem;
		}
	}

	@media (max-width:35em) {
		html {
			font-size: 40%;
		}
	}

	@media (max-width: 31em) {

		.grid--2-cols,
		.grid--3-cols,
		.grid--4-cols {
			grid-template-columns: 1fr;
		}

		.section-missions {
			padding: 10rem;
		}

		.grid--2-cols {
			padding: 9.6rem;
		}

		.plan-list--tag::after {
			top: 5%;
			right: -14.3%;
		}

		.step-img-box:nth-child(2) {
			grid-row: 1;
		}

		.step-img-box:nth-child(6) {
			grid-row: 5;
		}

		.step-img-box:nth-child(10) {
			grid-row: 9;
		}

		.step-img-box:nth-child(14) {
			grid-row: 13;
		}

		.step-img-box {
			transform: translateY(1.8rem);
		}

		.space-craft {
			height: 35rem;
		}

		.probe-content {
			height: 35rem;
		}

		.testimonials {
			grid-template-columns: 1fr;
		}

		.gallery {
			grid-template-columns: repeat(4, 1fr);
		}

	}

	@media (max-width: 29.1em) {

		.logo-fe {
			height: 5rem;
		}

		.space-craft {
			height: 40rem;
		}

		.probe-content {
			height: 35rem;
		}

		.plan-list--tag::after {
			top: 7%;
			right: -16.3%;
		}

		.cta {
			grid-template-columns: 1fr;
		}

		.cta-form {
			grid-template-columns: 1fr;
		}

		.cta {
			height: 140rem;
		}

		.cta-img-box {
			height: 70rem;
			grid-row: 1;
		}

		.footer {
			padding: 2.4rem;
		}

	}


	@media (max-width: 24em) {

		.astronauts-img {
			padding: 2rem;
		}

		.btn-1:link,
		.btn-1:visited {
			display: block;
			width: 35rem;
			margin-left: 18%;
		}

		.btn-2:link,
		.btn-2:visited {
			display: block;
			width: 35rem;
			margin-left: 18%;
		}

		.hero-image {
			width: 100%;
			margin-bottom: 10rem;
		}

	}




	/*   Menu bar navigation */


	@media (max-width: 39em) {
		.btn-mobile-nav {
			display: block;
			z-index: 1000;
		}

		.main-nav {
			background-color: white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			transform: translateX(100%);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease-in;
			opacity: 0;
			pointer-events: none;
			visibility: hidden;

		}

		.nav-open .main-nav {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
			transform: translateX(0);
		}

		.icon-mobile-nav[name="menu-outline"] {
			display: block;
		}

		.nav-open .icon-mobile-nav[name="close-outline"] {
			display: block;
		}

		.nav-open .icon-mobile-nav[name="menu-outline"] {
			display: none;
		}

		.main-nav-link:link,
		.main-nav-link:visited {
			font-size: 3rem;
		}

		.main-nav-list {
			flex-direction: column;
			gap: 4.8rem;
		}
	}